*
{
    margin: 0;
    padding: 0;
}

nav{
    background: #BA0000;
    height: 30px;
    padding:10px;
}

nav ul{   
    list-style:none;
}

nav ul li{
    float: left;
    position: relative;
}

nav ul li a{
    display: block;
    padding: 5px 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    text-decoration:none;
    color:white;
}

nav ul li a:hover{
    background-color: white;
    color: black;
}

nav ul li ul{
    background:#BA0000;
    top: -5000000px;
    position: absolute;
}

nav ul li:hover ul{
    left: 0px;
    top: 30px;
}

nav ul li ul li{
    width:300px;
    border-bottom:1px solid white;
}

nav ul li ul li a{
    padding:10px;
}

nav ul li ul li a:hover{
    background-color:white;
    color:black;
}